body {
  padding-top: 5rem;
  
}
.main-centered {
  padding: 3rem 1.5rem;
  text-align: center;
}

/* used to hide arrows on number input fields in forms */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}