*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: #373d38;
}

html{
    height:99vh;
    width: 99vw;
    background: #e8e8de;
    overflow-y: scroll;
    font-family: sans-serif;
}

body{
   color: #373d38;
margin:0;
padding:0;
    height:100%;

}

#wrapper{
     width:100%;
    position: relative;
}


h2 {
    padding: 25px 0px;
    background:#b9baaa;
    text-align: center;
    font-size: 333%;
    letter-spacing: 05px;
}


.navDiv{
    background: #a9a633;
}

nav {
    height: 40px;
    /*width: 1200px;if need to center them*/
    display: block;/*fill width*/
    margin: 0 auto 20px auto;
    margin: 0 auto 20px auto;
    text-align: center;
    /*text-transform: uppercase;*/

}

nav a{
    display: block;
    font-weight: bold;
    font-size: 100%;
}

nav a:hover{
    background: #949024;
    color:#f0f1f5;
}

nav ul{
    list-style: none;
}

nav ul li{
   float: left;/*vertical to horizontal. main at top, dropdown also horizontal uder each group name*/
    width:150px;/*drop down one over another*/
    height: 40px;
    line-height: 40px;/* space between two lines of text*/
    background: #a9a633;
}

nav ul ul li{
    position: relative;
    display: none;
}

nav ul li:hover ul li{
    display: block;
}

article{
    padding: 10px;
    line-height: 20px;
}

.content{
     padding: 10px;
    line-height: 20px;
}

footer{
    position: fixed;
    bottom: 0;
    right:0;   
   height:20px;
    font-weight: bold;
    font-size: 11pt;
    /*text-transform: uppercase;
    text-align: center;
     width: 100%;
    border-top: 2px solid #a9a633;
    background: #b9baaa;
    
    */
    
}

input[type = text],input[type = password]{
        height:28pt;
        float: right;
        width:200px;
    }

    select[name=field]{
         height:28pt;
        width:250px;
    }

    input[type = submit]{
        padding:7px 18px;
         float: right;
        background: #a9a633;
        border-radius: 4px;
        border: 2pt solid #a9a633; 
        margin-bottom: 10px; 
        margin-top: 10px; 
        height: 28pt;
    }

.fourtyfive{
        float:left;
        color: #373d38;
        height: 300px;
        }    

.tabcontent:after{
        content:"";
        display: table;
        clear:both;
    }

.page-subtitle,  .page-main-content{
        
        width: 90%;
        float: center;
        margin: auto auto 10px auto;
        border-radius: 12px;
    }


.page-subtitle{
        height: 80px;
        padding:auto;
        line-height: 1;
    }
    
    .page-main-content{
        border-top: 1px solid #c8c8c0;
        border-radius: 12px 12px 0 0;
        padding-bottom: 40px;

    }
/*---------------------Paragraph style---------------------*/

     p.big-1{
        font-size: 30pt;
        padding: 10px;
    }

    p.big-2{
        font-size: 15pt;
        padding: 10px;
    }




/*---------------------label style---------------------*/
#labelPrint{
        background: #b9baaa;               
        border-radius: 30px;
    }

 .with-label-clms{
        float:left;
        padding:20px 15px;
        height: 400px;
     
    }   
    
    .Info{
        width:65%;
    }
    
    .Label{
        margin-top: 20px;
        width: 35%;
    }
    
    

    
    .align-left{
        float: left;
    }
    .align-right{
        float: right;
    }
/*---------------------LogIn Page---------------------*/
  #login_page{
    float: center;
    border: 2px solid #c8c8c0;    
    border-radius: 12px;
    padding: 30px 20px 50px 20px;
    margin:100px auto;
    line-height: 1.5;
    width: 30%;
    text-align: left;
}

#login_wrapper{
    width: 75%;
    float: center;
    margin: auto; 
}   

input[type = password]{
    height:28pt;
    float: right;
    width:200px;
}


/*---------------------Main Page---------------------*/
#hideIns,#hideIns2{
    display: none;
    padding: 10px;
    border: 2pt solid #a9a633;   
    font-size: 12px;
    font-size: 13pt;
    width:300px;
    position: relative;
    left:50px;  
    border-radius: 12px;
    border: 2pt solid #a9a633; 
    color:#373d38;
    margin-top: 5px;
    margin-bottom: 20px;
    /*background: #c8c8c0;*/
}
    
.homepage{ 
    float:left;
    font-size: 25px;
    color: #373d38;
    padding:20px 30px;
    height: 600px;
    margin-left: 2%;
}        

.homeleft{
    width:70%;
}

.homeright{
    width:25%;
}

.homerow:after{
    content:"";
    display: table;
    clear:both;
}

.homebutton{
    margin-bottom: 5px;  
    background: #a9a033;
    padding:7px 40px;
    font-size: 15pt;
    width:200px;
    position: relative;
    left:50px;  
    border-radius: 12px;
    border: 2pt solid #a9a633; 
    display: block;
}

/*---------------------About Page---------------------*/

.about_page{ 
    float:left;
    font-size: 25px;
    color: #373d38;
    margin: 20px auto;
    height: 60%;
          
    }        

.aboutleft{
    width:60%;
    margin-right: 2%;

}
.aboutright{
    width:37%;
    font-size: 13pt;
}
#danceImg{
    margin: 0 auto;
}    
/*---------------------About Page---------------------*/
#Contact_send_email{
    width: 60%;
    font-size: 13pt;
    padding-left: 50px;
    line-height: 2.5; 
    width: 60%;
    float: left;
    margin-left: 50px;
}

/*---------------------Data Structure Page---------------------*/

.data_structure{ 
    float:left;
    font-size: 25px;
    color: #373d38;
    padding: 20px auto;
    height: 60%;
}        

.dataStrleft{
    width:60%;
    margin-right: 2%;
}
.dataStrright{
    width:37%;
    font-size: 13pt;
    padding-top: 20px;
}
#dataStrImg{
    margin: auto;
}   